* 
*::after,
*::before {
    margin: 0;                                     /*universal selector to perform reset for compatiblity with different browsers */
    padding: 0;
    box-sizing: inherit;
}

html {
    // defines what one rem is and thus not in typography
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}