.btn {
    &:link,
    &:visited {                                /*link is pseudoclass to apply css like hover etc.. */
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.4rem 4rem;
        display: inline-block;
        border-radius: 20rem;
        transition: all .2s;                    /* apply transition or animation to all properties for .2 seconds */
        position: relative;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 15px 15px rgba($color-black,.2);
    
        &::after {
            transform: scaleX(1.5) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 10px 10px rgba($color-black,.2);
    }
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
        &::after {
            background-color: $color-white;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 20rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;                   /* it define the position of elements if they are one above the other , -1 indicates behind */
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;                   /* apply 0% animation before the animation even starts */
    }
    }
    