@keyframes moveInLeft {
  /* helps in creating animation which can be applied anywhere */
  0% {
    opacity: 0;
    transform: translateX(-10rem);
    /* TO BRING TEXT FROM LEFT TO RIGHT ALONG X AXIS */ }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* let the block be at original position and way */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    /* TO BRING TEXT FROM LEFT TO RIGHT ALONG X AXIS */ }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* let the block be at original position and way */ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /* let the block be at original position and way */ } }

*
*::after,
*::before {
  margin: 0;
  /*universal selector to perform reset for compatiblity with different browsers */
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /* to stop animation from going upwards or shaking */
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    /* convert into block */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    /*
        animation-iteration-count: 3;         used for providing number of times animation
        animation-delay: 2s;
        */ }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1.5s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  /*link is pseudoclass to apply css like hover etc.. */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.4rem 4rem;
  display: inline-block;
  border-radius: 20rem;
  transition: all .2s;
  /* apply transition or animation to all properties for .2 seconds */
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* it define the position of elements if they are one above the other , -1 indicates behind */
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
  /* apply 0% animation before the animation even starts */ }

.header {
  height: 95vh;
  /* 95vh is 95% of view port height */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  /* .. to go up one folder /img to go to image folder in css folder /hero.jpg to select image */
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* https://bennettfeely.com/clippy/ :- website for clip path values of various polygons
                                                              clip path is used to create a specific polygon out of image
                                                             it uses coordinate geometry of four corners of image(x y, x y, x y, x y) */ }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    /* top and left is in relation with parent text-box whereas transform and translate is in relation with element itself (written material) */
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform and translate to  not relative to parent element but relative to the element itself */
    text-align: center; }

@im @import "pages/home";
